<!DOCTYPE html>
<html lang="en">
<head>
  <title>Not Found</title>
<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <nav><a href="/"></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
    <h1>404 the Page you looking for was Not Found</h1>

</body>
</html>