html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #00823a;
    border: 4px solid black;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #00823a;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #25fc86;
    color: black;
}

.workoutForm {
    border: 2px solid black;
    height: 100px;
    width: 1350px;
    margin-top:50px;
    padding-top:10px;
    margin-left: 300px;
    background-color: #00823a;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}


.workoutForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.workoutForm input {
    float:left;
}




.makeWorkoutSubmit {
    transition: background-color 0.4s ease;
    width: 150px;
    background-color: #40ce80;
    border-radius: 2px;
    border-color: #5bdd95;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;

    
}

.makeWorkoutSubmit:link, .makeWorkoutSubmit:visited, .makeWorkoutSubmit:hover, .makeWorkoutSubmit:active {
    color: white;
}

.makeWorkoutSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #25fc86;
    color: black;

}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 240px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: right;
    font-size: 1.2em;
    color: white;
}

#changePasswordSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 200px;
    background-color: #40ce80;
    border-radius: 10px;
    border-color: #5bdd95;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
}

#changePasswordSubmit:hover {
    transition: background-color 0.8s ease;
    background-color: #25fc86;
    color: black;
 
}

#loginDiv {
    background-color: #00823a;
    height: 100%;
    width: 1200px;
    margin-left: 350px;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #40ce80;
    border-radius: 2px;
    border-color: #5bdd95;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.8s ease;
    background-color: #25fc86;
    color: black;
}

#user, #pass, #pass2, #email {
    text-align: center;
    font-size: 1.1em;
    width: 380px;
    border-radius: 60px;
}

#user:focus, #pass:focus, #pass2:focus, #email:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #2e7f52;
}

.hidden {
    display: none;
}

#workoutMessage {
    top: 200px;
    width: 250px;
    height: 200px;
    position: absolute;
    z-index: 200;
    left: 44%;
    overflow: hidden;
    border: 2px solid black;
    background-color: white;
}

#workoutMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}


#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    text-align: center;
    
}

#workout {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}


.workout {
    width: 1000px;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #00823a;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    color: white;
}



h3.emptyWorkout {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.workoutName {
    text-align: center;
    width: 200px;
    font-weight: bold;
    padding-left: 45%;
    font-size: 1.5em;
}

h3.workoutSet {
    
    text-align: center;
    width: 200px;
    font-weight: bold;
    padding-left: 45%;
    font-size: 1.5em;
}

h3.workoutReps {
    
    text-align: center;
    width: 200px;
    font-weight: bold;
    padding-left: 45%;
    font-size: 1.5em;
}

h3.workoutWeight{
    text-align: center;
    width: 200px;
    font-weight: bold;
    padding-left: 45%;
    font-size: 1.5em;
}

.workout:first-child {
    margin-top: 10px;
}

.workout:last-child {
    margin-bottom:10px;
}

#editform {
    padding-right: 50px;
    text-align: center;
    font-size: large;
}

#channelSelect{
 align-items: center;
 margin-left: 850px;
 margin-top: 100px;
 transition: background-color 0.4s ease;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 580px;
    font-size: 1.2em;
    width: 200px;
    background-color: #40ce80;
    border-radius: 10px;
    border-color: #5bdd95;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
}

#channelSelect:hover{
    transition: background-color 0.8s ease;
    background-color: #25fc86;
    color: black;
}


#messages{
 text-align: center;
 margin: 30px;
 font-size: 24px;
 padding-right: 200px;
 padding-bottom: 30px;
}

#editForm{
    margin-top: 50px;
}

#editBox{
    margin-top: 50px;
    margin-left: 700px;
    padding: 100px;
    align-items: center;
    font-size: 24px;
}

#messageSend{
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    margin-left: 800px;
    font-size: 1.2em;
    width: 200px;
    background-color: #40ce80;
    border-radius: 10px;
    border-color: #5bdd95;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
}

#messageSend:hover{
    transition: background-color 0.8s ease;
    background-color: #25fc86;
    color: black;
}

#premium{
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    margin-left: 800px;
    font-size: 1.2em;
    width: 200px;
    background-color: #40ce80;
    border-radius: 10px;
    border-color: #5bdd95;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
}

#premium:hover{
    transition: background-color 0.8s ease;
    background-color: #25fc86;
    color: black;
}